header {
  background-image: url("/src/images/headerImg.png");

  background-repeat: no-repeat;
  background-size: cover;
}

.myWatchList-container {
  margin-top: 2rem;
  text-align: center;

  .movie-item {
    font-size: 2rem;

    & h3 {
      margin-top: 1rem;
      text-decoration: none;
    }
  }

  .icon-container {
    margin-bottom: 2rem;
    border-bottom: 1px solid black;

    & button {
      background: none;
      border: none;

      box-shadow: none;
      padding-left: 1rem;

      &:active,
      &:focus,
      &:visited &:focus-visible {
        outline: none;
        box-shadow: none;
      }
    }
  }
}
